.wrapper {
  height: 100vh;
  display: flex;
  align-items: flex-start;
}

.main {
  height: 80vh;
  overflow-y: scroll;
  position: relative;
  flex: 25;
  background: var(--light-grey);
  display: flex;
  width: 100vw;
}

.footer {
  display: flex;
  position: relative;
  bottom: 20px;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
